.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 80px;
	transition: 0.3s;
	z-index: 100;
	background-image: linear-gradient(rgba(7, 18, 36, 0.2), rgb(7, 18, 36)), url("https://d2d2z3qzqjizpf.cloudfront.net/eyJidWNrZXQiOiJnZ2FwcCIsImtleSI6Im1lZGlhL2dhbWVzL2dEWWMxMy84MDkyMDM5Yy0yY2U1LTQ1OTUtODE5Ny03ZjAzOTk2OGNmZjkuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGciLCJqcGVnIjp7InF1YWxpdHkiOjgwLCJjaHJvbWFTdWJzYW1wbGluZyI6IjQ6NDo0In19fQ==");;
}

.header::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
	z-index: -1;
}


.header .logo {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 1.8rem;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header ul li {
	list-style: none;
	margin: 0 10px;
}

.header ul li span {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
}
